* {
    box-sizing: content-box;
}

body {
    background-color: #303030;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #E0E0E0;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    border-bottom: solid 1px black;
}

nav {
    background-color: #E0E0E0;
    position: relative;
    right: 4rem;
    list-style-type: none;
}

nav li {
    display: inline-block;
    background-color: #E0E0E0;
    margin: 0.2rem 0.6rem;
    
}

nav a {
    background-color: #E0E0E0;
    color: #353535;
    font-size: 1.4rem;
    font-family: 'Sedan';
}

h1 {
    background-color: #E0E0E0;
    position: relative;
    left: 5rem;
    font-family: 'Sedan';
    letter-spacing: 2px;
    color: #353535;
}

.aboutme {
    background-color: #E0E0E0;
    position: relative;
    top: 10rem;
    text-align: center;
    padding: 0.5rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

h2 {
    font-size: 2.5rem;
    font-family: "Sedan";
}

p {
    font-family: "DM Serif Display";
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

.projects {
    position: relative;
    text-align: center;
    top: 12rem;
    background-color: #E0E0E0;
    margin-left: 12rem;
    margin-right: 12rem;
    padding: 0.5rem;
}

.projects .projcontent {
    display: inline-block;
}

img {
    width: 50%;
    height: 50%;
}



@media only screen and (max-width: 1000px) {
    nav a {
       font-size: 1rem; 
    }

    nav {
        margin-left: 0.2rem;

    }

    h1 {
        font-size: 1.4rem;
        margin: 0.2rem;
    }

    .aboutme {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .aboutme h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    nav a {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.2rem;
        left: 1rem;
    }

    nav {
        right: 1rem;
    }

    .abooutme {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .aboutme h2 {
        font-size: 1.6rem;
    }

    .aboutme p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    nav a {
        font-size: 0.6rem;
    }

    h1 {
        font-size: 1rem;
        left: 1rem;
        width: 20%;
        text-align: center;
    }
    nav {
        right: 1rem;
    }

    header {
        padding-bottom: 0.5rem;
        align-items: center;
    }

    .aboutme p {
        font-size: 0.8rem;
    }
}
